<div class="wrapper">
  <h1>See the coach suggestion</h1>
  <div class="container-coaching">
    <div class="question">
      <%= @question %>
    </div>
    <div class="answer">
      <%= @answer %>
    </div>
  </div>
  <div class="btn btn-primary back"><%= link_to 'Go back', ask_path %></div>
</div>
